apiVersion: v1
kind: Secret
metadata:
  name: object-storage-creds
type: Opaque
stringData:
  OBJECT_STORAGE_SERVICE: nebius
  OBJECT_STORAGE_ENDPOINT: https://storage.eu-west1.nebius.cloud:443
  OBJECT_STORAGE_ACCESS_KEY: x
  OBJECT_STORAGE_SECRET_KEY: x
  OBJECT_STORAGE_REGION: eu-west-1
  OBJECT_STORAGE_SECURE: "true"
# Alternative kubectl command:
# kubectl create secret generic object-storage-creds \
#   --from-literal=OBJECT_STORAGE_ACCESS_KEY='value' \
#   --from-literal=OBJECT_STORAGE_SECRET_KEY='value' \
#   ...etc
